<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="La boutique de oCoffee des frères Pepper, spécialistes du café à Hauts-de-Cloques">

  <!-- Title -->
  <title>oCoffee</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Modern styles -->
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/home.css">

  <!-- Common scripts -->
  <script defer src="../js/header.js"></script>
</head>

<body>
  <%- include('partials/header') %>

  <main>
    <section id="about">
      <div>
          <h1>Votre spécialiste Haucloquois du café</h1>
          <p>oCoffee est un détaillant de café et de produits associés à la consommation du café basé dans la ville de Hauts-de-Cloques. Nous importons nos produits directement des producteurs, et nous les sélectionnons selon des critères exigeants de qualité. oCoffee est reconnu à l’échelle départementale.</p>
          <a class="btn btn-primary btn-lg" href="/catalogue">
            Découvrir notre catalogue
          </a>
      </div>
      <img src="../images/about.jpg" alt="Selection de nos meilleurs cafés oCoffee">
    </section>

    <section id="latest-products">
      <h2>Nouveautés</h2>
      
      <ul>
        <% if (coffees && coffees.length > 0) { %>
          <% coffees.forEach(coffee => { %>
            <li>
              <article>
                <img src="../images/coffees/<%= coffee.reference %>.png" alt="<%= coffee.nom %>">
                <div>
                  <h3><%= coffee.nom %></h3>
                  <p class="price"><%= coffee.prix_kg %>€/kg</p>
                  <% if (coffee.origine) { %>
                    <p>🌍 Origine: <strong><%= coffee.origine %></strong></p>
                  <% } %>
                  <a class="btn btn-secondary btn-sm" href="/cafe/<%= coffee.reference %>">
                  Voir le détail
                  </a>
                </div>
              </article>
            </li>
          <% }); %>
        <% } else { %>
          <div class="no-products">
            <p>☕ Aucune nouveauté disponible pour le moment.</p>
          </div>
        <% } %>
      </ul>
    </section>

  </main>

  <%- include('partials/footer') %>

</body>
</html>